@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
  background: #ddf0e7;
  font-family: "Ubuntu", sans-serif;
}

select {
  display: block;
  font-size: 16px;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}

h1,
footer {
  text-align: center;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 28px;
  margin: 0 0 5px;
}

.container {
  background-color: #ffffff;
  display: block;
  margin: 60px auto 20px;
  padding: 20px;
  width: 600px;
  border-radius: 8px;
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
}

.container a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.container a:hover {
  color: rgb(145, 105, 182);
}

.city {
  border-bottom: 1px dashed rgba(193, 192, 192, 0.4);
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  padding: 20px 0;
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
  margin-top: 4px;
  font-size: 16px;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 16px;
  vertical-align: middle;
  line-height: 48px;
}

footer {
  font-family: monospace;
  font-size: 14px;
  opacity: 80%;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  font-weight: 600;
}
